/* resetam stilurile implicite */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* stilizam elementele principale */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

main {
    margin: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 70px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

p {
    margin: 0;
}

/* stiluri pentru ecran mic (max-width: 600px) */
@media screen and (max-width: 600px) {
    form {
        display: block;
    }

    input[type="number"] {
        width: 100%;
    }
}
